<div class="main_right">
    <img class="main_right_image" src="./images/image2.png"/>
    <h4 class="main_right_peronal_info_title">About me</h4>
    <p class="main_right_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h5 class="main_right_subtitle"> top posts</h5>
    <ul class="main_right_posts">
        <li class="post">
            <p class="post_name">A day exploring the Alps</p>
            <p class="comments">24 comments</p>
        </li>
        <li class="post">
            <p class="post_name">American dream</p>
            <p class="comments">19 comments</p>
        </li>
        <li class="post">
            <p class="post_name">Cold winter days</p>
            <p class="comments">15 comments</p>
        </li>
    </ul>

</div>
