<div class="header">
    <h1 class="_header_main_title">minimØ</h1>
    <ul class="header_titles">
        <li class="header_titles_item lifestyle">lifestyleddd</li>
        <li class="header_titles_item photodiary">photodiary</li>
        <li class="header_titles_item music">music</li>
        <li class="header_titles_item travel">travel</li>
    </ul>
</div>