<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>

<div class="main">
    <h1 class="main_title">Skills</h1>
    <ul class="skills">
        <li class="skill">
            <p class="skill_title">Communication</p>
            <div class="progress communication"></div>
        </li>
        <li class="skill">
            <p class="skill_title">Creativity</p>
            <div class="progress creativity"></div>
        </li>
        <li class="skill">
            <p class="skill_title">Teamwork</p>
            <div class="progress teamwork"></div>
        </li>
        <li class="skill">
            <p class="skill_title">Organization</p>
            <div class="progress organization"></div>
        </li>
        <li class="skill">
            <p class="skill_title">Leadership</p>
            <div class="progress leadership"></div>
        </li>
        <li class="skill">
            <p class="skill_title ">Teamplayer</p>
            <div class="progress teamplayer"></div>
        </li>
    </ul>
</div>
</body>
</html>